extends ./layout/_layout.pug

block content
  h1 CEKTOP
  p Gulp-powered static site boilerplate for GitHub Pages.
  a(href="https://github.com/ESWAT/cektop/archive/v#{version}.zip") Download
  a(href="https://github.com/ESWAT/CEKTOP/") View Source
