extends ./layout/_layout.jade

block content
  h1= title
  p= description
  a(href="https://github.com/ESWAT/cektop/archive/v#{version}.zip") Download
  a(href="https://github.com/ESWAT/CEKTOP/") View Source
